.about-us {
    padding: 100px 0;
    &__description {
        font-size: 30px;
        max-width: 720px;
        margin: 0 auto;
    }
}

@media screen and (max-width:1024px) {
    .about-us {
        &__description {
            font-size: 25px;
        }
    }
}